/* ChangePassword.css */

.passwordinner-Page{
     height:100vh;
     margin:0px;
     background-color:black;
     padding:0px;
}
  
.password-section-h2 {
    margin:0px;
    padding:0px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-align: center;
    color:white;
}
  
.password-section-p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: #c0c0c0;
}
  
.password-change-form {
    width:100%;
    display: flex;
    margin-top:50px;
    flex-direction: column;
}
.password-change-form-group{
    margin:0px;
    padding:0px;
    margin-top:30px;
    position: relative;
}
  
.Changepasswordchange-label {
    padding-left:10px;
    font-size: 14px;

    width:200px;
    color:white;
}
  
.Changepassword-input {
    width:300px;
    margin-top:20px;

    background:transparent;
    border:none;
    outline:none;
    border-bottom:1px solid rgb(173, 173, 173);
}
  
.password-input:focus {
    background:transparent;
}
  
.button-password {
    background-image: linear-gradient(90deg, #2367bf 0%, #5cadff 100%);
    border: none;
    height:50px;
    font-size: 1rem;
    margin-top:20px;
    width:250px;
    font-weight: 700;
    cursor: pointer;
    transition: background-image 0.3s ease;
}
.button-password-verify{
    background-color:white;
    color:black;
    margin:20px;
}
.button-password:hover {
    background-image: linear-gradient(90deg, #5cadff 0%, #2367bf 100%);
}
  
.message {
    font-size: 0.95rem;
    color: #d9534f; 
    text-align: center;
    margin-top: 1rem;
}

/* Responsive */
@media (max-width: 480px) {
    .responsive-div {
        margin: 1rem;
        padding: 1.5rem 1.8rem;
    }
}
  .eye-icon{
    
              position: absolute;
              right:10px;
              top:70%;
              transform:translateY(-50%);
              cursor:pointer;
              color:white;
           
}