.eyantra-logo-popup {
  margin: 0;
  padding: 0;
  display: flex;
  
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent crossing overlay */
}

/* Small Phones */
@media (max-width: 320px) {
  .eyantra-logo-popup{
    width: 200px;
    height: 200px;
  }
}

/* Small Phones (up to 480px) */
@media (max-width: 480px) {
  .eyantra-logo-popup {
    width: 200px;
    height: 200px;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .eyantra-logo-popup {
    width: 300px;
    height: 300px;
  }
}

/* Small Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
  .eyantra-logo-popup {
    width: 380px;
    height: 380px;
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
  .eyantra-logo-popup {
    width: 480px;
    height: 480px;
  }
}

/* Large Screens */
@media (min-width: 1201px) {
  .eyantra-logo-popup {
    width: 500px;
    height: 500px;
  }
}
